<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="15px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="padding: 0 40px" class="toolBarcolor" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h1>
          <span class="iconCusor" (click)="refreshPage()">Employee&apos;s App</span>
        </h1>
      </div>
      <div fxLayout="row wrap" class="toolBarcolorright" fxLayoutGap="15px" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" class="profilePiccontainer" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img [src]="getImgContent()"></div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div>
            {{user.firstName + &apos; &apos; + user.lastName}}
          </div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
          <mat-icon class="iconCusor" (click)="logout()">power_settings_new</mat-icon>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
      <div class="userNametextContainer">
        <h1>You&apos;re Logged In As {{ user.firstName }} </h1>
      </div>
    </div>
    <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <mat-card class="cardContainer">
        <mat-card-title>Profile</mat-card-title>

        <mat-card-subtitle>Update Profile</mat-card-subtitle>

        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" class="toolBarcolorleft relative" fxFlex="49" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img [src]="getImgContent()" class="imgBorderRadius"></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <form [formGroup]="uploadImg">
                  <div fxLayout="column wrap" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div>
                      <input type="file" id="img" name="img" placeholder="Choose File" accept="image/*" formControlName="img" (change)="onSelectedNewFile($event.target?.files)">
                    </div>
                    <div fxLayout="column wrap" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="primary" (click)="upLoadImg()">Update Profile</button></div>
                  </div>
                </form>
              </div>
            </div>
            <div fxLayout="column wrap" class="textCardContainer relative" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h1>
                {{user.firstName}}
              </h1>
              <h1>
                {{user.lastName}}
              </h1>
              <h1>
                {{user.email}}
              </h1>
              <div fxLayout="column wrap" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="primary" (click)="employeeUpdate()">Update Form</button></div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>